{% extends 'base.html' %}
{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}Home{% endblock %}
</head>
<body>
    {% block body %}
    <hr />

    <div class="container">
      <div class="row">
        <h2>Search By Gender</h2>
        <a href="/searchbygender" name="male">Male</a>
        <br>
        <a href="/searchbygender" name="female">Female</a>
      </div>
    </div>

    <!-- carousel -->

    <div class="container">
        <div class="row">
            <div id="carouselExampleCaptions" class="carousel slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{% static 'images/petstore1.jpg' %}" class="d-block w-100" alt="..." width="100px" height="700px">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>MyPetStore</h5>
                      <p>Your one-stop shop for all pet needs—food, accessories, and more!</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'images/petstore2.jpg' %}" class="d-block w-100" alt="..." width="100px" height="700px">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Quality Pet Supplies</h5>
                      <p>We offer a wide selection of high-quality food, toys, and accessories for your furry friends.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'images/petstore3.jpg' %}" class="d-block w-100" alt="..." width="100px" height="700px">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Happy Pets, Happy Owners</h5>
                      <p>Visit us today and give your pet the care they deserve!</p>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
    </div>

    <!-- Pet details -->

    {% for m in messages %}
        <h1><mark>{{m}}</mark></h1>
    {% endfor %}
    
    <div class="container mt-5">
        <div class="row">
            {% for x in allpets %}
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="{{x.photo.url}}" class="card-img-top" alt="..." width="200px" height="200px">
                    <div class="card-body">
                      <h5 class="card-title">{{x.petname}}</h5>
                      <p class="card-text">{{x.description}}</p>
                      <a href="{% url 'petdetails' x.petid %}" class="btn btn-primary">View more</a>
                      <a href="#" class="btn btn-danger">Adopt now!</a>
                    </div>
                  </div>
            </div>
            {% endfor %}
        </div>
    </div>


    {% endblock %}

</body>
</html>